$black: #000000;
$white: #ffffff;
$off-white: #f5f5f5;

$light-gray: #c3c3c3;
$darker-gray: #312f2b;
$dark-gray: #6a6463;
$footer-gray: #8c8c8c;

$primary: #e14040;
$accent: #dcad69;

$positive: #3fc380;
$negative: #e14040;
$caution: #f9d372;
